---
import { getCollection } from "astro:content";
import Layout from "~/layouts/Layout.astro";
import { groupByArray } from "~/utils";
import dayjs from "dayjs";
import { cn } from "~/utils";

const allPosts = await getCollection("posts");

const mapData = allPosts.map((item) => {
  return {
    ...item,
    ...item.data,
    pubDate: dayjs(item.data.pubDate).year(),
  };
});

const groupedData = groupByArray(mapData, "category");

const groupCategoryPosts = groupedData.map((item) => {
  return {
    ...item,
    value: groupByArray(item.value, "pubDate"),
  };
});

const subMenu: Record<string, string> = {
  reflection: "随笔",
  tech: "技术",
  note: "笔记",
};

export async function getStaticPaths() {
  const subMenuMap = {
    reflection: "随笔",
    tech: "技术",
    note: "笔记",
  };
  return Object.keys(subMenuMap).map((key) => {
    return {
      params: { catagory: key },
    };
  });
}

const { catagory } = Astro.params;

const currentPostList = groupCategoryPosts.find(
  (item) => item.key === catagory
);
---

<Layout title={subMenu[catagory]}>
  <Main>
    <div
      class="flex w-full flex-col space-y-4 pb-10 md:flex-row md:space-x-6 md:space-y-0"
    >
      {
        Object.keys(subMenu)?.map((key: string) => {
          return (
            <a
              class={cn("text-2xl no-underline text-default-500", {
                "text-primary": catagory === key,
              })}
              href={`/${key}`}
            >
              {subMenu[key] as unknown as string}
            </a>
          );
        })
      }
    </div>
    <div class="grid grid-cols-1 gap-4 space-y-28 py-20">
      {
        Array.isArray(currentPostList?.value) &&
        currentPostList?.value.length > 0 ? (
          currentPostList?.value.map(({ key, value }) => (
            <div class="relative flex">
              <div class="text-stroke-2 absolute -left-6 -top-16 select-none text-9xl font-bold text-default-100">
                {dayjs(key).format("YYYY")}
              </div>
              <div class="flex w-full flex-col space-y-8  z-10">
                {value.map((post) => {
                  return (
                    <a
                      class="text-2xl text-default-500 cursor-pointer hover:text-primary-500 no-underline"
                      href={`/post/${post.slug}/`}
                      title={post.data.title}
                    >
                      {post.data.title}
                      <span class="ml-2 text-xl text-secondary-300">
                        {dayjs(post.data.pubDate).format("MM-DD")}
                      </span>
                    </a>
                  );
                })}
              </div>
            </div>
          ))
        ) : (
          <div>还没有任何文章哦</div>
        )
      }
    </div>
  </Main>
</Layout>
